.main{
  margin: 5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  color: var(--g-colored-9c0343);
  font-size: var(--font-size-4_87rem);
  font-weight: var(--font-weight-500);
  text-align: center;
}

.paragraph-main{
  text-align: center;
  color: var(--g-colored-9c0343);
  font-size: var(--font-size-1rem);
  font-weight: var(--font-weight-400);
  margin: 2rem 0 3rem 0;
}


.container-info-menus{
  display: grid;
  width: calc(100% - 25rem);
  grid-template-columns: repeat(2, calc(100% / 2));
  gap: 10px;
}

.container-info{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
  flex-direction: column;
  background-color: var(--g-colorBgRgb-255-228-193);
}
.container-info > :not(:last-child){
  margin-bottom: 1.5rem;
}
.container-info > h3{
  color: var(--g-colored-9c0343);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-2rem);
}
.container-info > p{
  text-align: center;
  width: 90%;
  color: var(--g-colored-9c0343);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-1rem);
}
.container-info > a{
  border: 2px solid var(--g-colored-9c0343);
  width: 140px;
  height: 60px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--g-colored-9c0343);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-1rem);
}
.container-info > a:hover{
  color: var(--g-colorGray0);
  background-color: var(--g-colored-9c0343);
}
