.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--g-colorBgRgb-255-246-231);
  position: relative;
}

.container-logo{
  display: flex;
  align-items: center;
  position: absolute;
  left: 2rem;
}
.container-logo:hover > h2{
  color: var(--g-colored-ff5b45);
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}
.container-logo > h2{
  margin-left: 10px;
  font-size: var(--font-size-1rem);
  font-weight: var(--font-weight-500);
  color: var(--g-colored-9c0343);
}

.container-menus{
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.container-menus > :not(:last-child){
  margin-right: 1rem;
}
.container-menus > a{
  font-size: var(--font-size-17px);
  font-weight: var(--font-weight-400);
  color: var(--g-colored-9c0343);
}
.container-menus > a:hover{
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  color: var(--g-colored-ff5b45);
}
